
:root {
    --primary-font: 'Lato', sans-serif;
    --font-header: 'Courgette', cursive;
    --primary-color: rgb(153, 62, 172);
    --secondary-color: blue;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}

body{
    font-family: var(--primary-font);
    line-height: 1.5;
    
   
}

h1,h2,h3 {
    text-align: center;
    margin: 0;
}


h1 {
    font-size: 45px;
    font-family: var(--font-header);
}

h2 {
    font-size: 25px;
}

p {
    text-align: center;
    font-weight: 300px;
    
}


.about-header {
    text-align: center;
}

.navigations-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
 }
  
  .navigations-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }

  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
  }
  
  .about-link:hover {
    color: #0d6efd;
    text-decoration: underline;
  }

  .portfolio-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .portfolio-link:hover {
    color: #0d6efd;
    text-decoration: underline;
    border: 1px solid var(--primary-color);
    background: #f5f2fe;
  }

.contact-button {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  
}

.contact-button:hover {
    color: #0d6efd;
    text-decoration: underline;
    border: 1px solid var(--primary-color);
    background: #f5f2fe;
  }

  .primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    
  }

  .primary-link:hover {
    color: #0d6efd;
    text-decoration: underline;
    border: 1px solid var(--secondary-color);
    background: #f5f2fe;
  }










@media (max-width: 900px) {

}
